<!DOCTYPE html><!DOCTYPE html>
<html>
	<meta http-equiv="refresh" content="3;url=/" />
	<head>
		<title>Brailogue</title>
		<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel = "stylesheet" href = "index.css">

	</head>
	<body>
		<div style="display: flex;align-items: center;justify-content: center;position: absolute;top: 0;left: 0;right: 0;bottom: 0;">
			<div style="display: flex;justify-content: center;align-items: center;flex-direction: column; width: 1300px">
				<h1>{{nameStatus}}</h1>
			</div>
		</div>
		</div>
		<div class="pattern" style="top: 0"></div>
		<div class="pattern" style="bottom: 0"></div>
	</body>
	<script>

	</script>

</html>